<div class="relative" id="navbar mb-10">
  <app-navbar class="fixed top-0 left-0 w-full z-50"></app-navbar>
</div>

<div class="w-full overflow-hidden" id="about">
  <app-about></app-about>
</div>

<div class="w-full overflow-hidden" id="work">
  <app-work></app-work>
</div>

<div class="w-full overflow-hidden" id="skills">
  <app-skills></app-skills>
</div>

<div class="w-full overflow-hidden" id="achievements">
  <app-achievemnts></app-achievemnts>
</div>

<div class="w-full overflow-hidden" id="gallery">
  <app-gallery></app-gallery>
</div>

<div class="w-full overflow-hidden" id="contact">
  <app-contact></app-contact>
</div>